# This is a comment.
# Each line is a file pattern followed by one or more owners.


# In this file, WhalePlane and DebuggingaHopper own any files in the src 
# directory at the root of the repository and any of its
# subdirectories.
/src/ @DebuggingaHopper @Whaleplane


#DebuggingaHopper owns any files in the data directory
/data/ @DebuggingaHopper

# In this line, DebuggingaHopper owns any files in the Results 
# directory at the root of the repository and any of its
# subdirectories.
/Results/ @DebuggingaHopper
